<nav class="navbar navbar-expand-md navbar-dark nav-color fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="#">Trapper Keeper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="#">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                    New Note
                </button>
            </div>
        </div>
    </div>
</nav>
<br><br><br>