body{
    background-color: #f4f6ff;
}

.nav-color{
    background-color: #f3c623;
}
.custom-card{
    max-width: 900px;
    margin: auto;
}
.card-content img{
    max-width: 100%;
    height: auto!important;
}
.zoom-card{
    transition: transform .2s; 
}
.zoom-card:hover{
    transform: scale(1.02); 
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}
  
@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
  
@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}
  
@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}