{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="title">Notes</h1>
  <div class="row row-cols-1 row-cols-md-3">
    {% for note in notes %}
    <div class="col mb-4">
      <div class="card border-secundary h-100">
        <div class="card-header">
          <a href="{% url 'note-detail' note.id %}">{{ note.note_title }}</a>
        </div>
        <div class="card-body text-secondary">
          <p class="card-text">{{ note.note_content|safe|truncatechars:100 }}.</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}